services:
  db:
    image: postgres:15
    volumes:
      - ./db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=mi_base_de_datos
      - POSTGRES_USER=usuario_django
      - POSTGRES_PASSWORD=password_secreto
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://usuario_django:password_secreto@db:5432/mi_base_de_datos
    depends_on:
      - db
