<!DOCTYPE html>
<html>

<head>
    <title>Mi Dashboard Pro</title>
    <style>
        body {
            font-family: sans-serif;
            background: #1a1a1a;
            color: white;
            text-align: center;
            padding-top: 50px;
        }

        .card {
            background: #333;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            border: 1px solid cyan;
        }
    </style>
</head>

<body>
    <h1>🚀 Proyecto 03: Django + Docker</h1>
    <div class="card">
        <p>¡Bienvenido al sistema! Esta página es personalizada.</p>
        <p>Estado de la Base de Datos: <b>Conectada (PostgreSQL)</b></p>
    </div>
</body>

</html>